header{
  display: grid;
  grid-template-columns: 75px auto;
  grid-gap: 10px;
  background-color: blue;
}

header div:last-child{
  align-self: center;
}

header img{
  width:75px; padding: 0; margin: 0;
}