body{margin: 0 auto 0 auto; width:80%;}

header{
  display: grid;
  grid-template-columns: 75px auto;
  grid-gap: 10px;
  background-color: blue;
  color:white;
  font-size: 200%;
}
header div{justify-self: center; align-self: center;}
header img{width:75px; padding:0; margin:0;}

nav{background-color: blue;}

nav ul{list-style: none; padding-left:1em; display:grid; grid-template-columns:repeat(auto-fit, minmax(2em, 10em)); grid-gap:0; margin:0;}
nav ul li{padding: 1em 0 1em 0; align-self: center; justify-self: center;}
nav a{color:white; text-decoration:none; padding:1em;}

nav ul li:hover{background-color: red; transform:scale(1.1);}

nav ul li.selected {background-color:grey; transform:scale(1.1); color:red;}

footer{
  border-top:solid 4px;
  padding: 3px;
}

footer div{
  text-align: center;
  font-family: 'Acme', 'Arial', sans-serif;
}



article{display:grid; grid-gap:40px; grid-template-rows: 30px auto; margin-bottom: 30px;}
article h2{margin:0;}
article p{margin:0;}

article{grid-template-columns: 1fr;}
article img{grid-column: 1/1; width:250px;}
article img{margin: 10px 0 30px; border: 1px solid #000; box-shadow: 0 0 30px #555; padding:0;}
article img:hover{box-shadow: 10px 10px 40px; transform: scale(1.02);}

@media screen and (min-width: 650px){
  article:nth-child(odd){
    grid-template-columns: 250px auto;
  }
  article:nth-child(odd) img{
    grid-column: 1/2; transform: rotate(-20deg);
  }
  article:nth-child(even){grid-template-columns: auto 250px;}
  article:nth-child(even) img{grid-column: 2/3; transform: rotate(20deg);}
  article img{grid-row: 1/3; width: 100%; margin: 10px 0 30px; border: 1px solid #000; box-shadow: 0 0 30px #555; padding:0;}
}